<div class="image-container">
  <img class="image" [attr.src]="data?.urls?.regular">
  <div class="enable-overlay-mobile-container">
    <button *ngIf="isMobile() && !showOverlayMobile" class="enable-overlay-mobile" (click)="toggleShowOverlayMobile()">
      <img src="assets/icons/eye.svg">
    </button>
  </div>
  <div *ngIf="shouldShowButtons()" class="overlay-button-container">
    <button class="overlay-button" (click)="infoView = true">
      <img src="assets/icons/info.svg">
    </button>
    <button *ngIf="twitterUsername" class="overlay-button" (click)="goToTwitterProfile()">
      <img src="assets/icons/twitter.svg">
    </button>
    <button *ngIf="instagramUsername" class="overlay-button" (click)="goToInstagramProfile()">
      <img src="assets/icons/instagram.svg">
    </button>
    <button class="overlay-button" (click)="downloadImage()">
      <img src="assets/icons/download.svg">
    </button>
    <button *ngIf="isMobile()" class="overlay-button" (click)="showOverlayMobile = false">
      <img src="assets/icons/cancel.png">
    </button>
  </div>
  <div *ngIf="shouldShowInfoView()" class="overlay-info-view">
    <div class="profile-container">
      <img [attr.src]="data?.user?.profile_image?.large">
      <div class="name-container">
        <span>{{data?.user?.username}}</span>
        <span>{{data?.user?.first_name + " " + data?.user?.last_name}}</span>
        <span>{{data?.user?.bio}}</span>
      </div>
    </div>
    <img class="close-icon" (click)="infoView = false" src="assets/icons/cancel.png">
  </div>
</div>
<img class="close-icon" (click)="close()" src="assets/icons/close.svg">
